@charset "UTF-8";
* {
  margin: 0 auto;
  padding: 0; }

body {
  width: 100%;
  background: #e6e6e6; }

header {
  width: 100%;
  height: 3.12rem;
  background: #1e82d0; }
  header #top {
    height: 0.57rem;
    padding-top: 0.22rem;
    display: flex;
    justify-content: space-around;
    font: 0.30rem/0.57rem "微软雅黑"; }
    header #top .search {
      width: 4.76rem;
      height: 0.57rem;
      background: #1d74bb;
      border-radius: 0.10rem; }
      header #top .search .img01 {
        width: 0.30rem;
        height: 0.32rem;
        margin: 0 0.1rem 0 0.26rem; }
      header #top .search .img02 {
        width: 0.21rem;
        height: 0.31rem; }
      header #top .search input {
        width: 3.42rem;
        height: 0.30rem;
        border: 0;
        background: #1D74BB;
        font: 0.26rem/0.30rem "微软雅黑";
        color: #fff; }
    header #top .p01 img {
      width: 0.42rem;
      height: 0.37rem; }
    header #top .p02 img {
      width: 0.35rem;
      height: 0.36rem; }
  header ul {
    display: flex;
    justify-content: space-around;
    margin-top: 0.64rem; }
    header ul li img {
      width: 0.67rem;
      height: 0.67rem; }
    header ul li:nth-child(3) img {
      width: 0.79rem;
      height: 0.72rem; }
    header ul li p {
      margin-top: 0.32rem;
      font: 0.26rem "微软雅黑";
      text-align: center;
      color: #fff; }

#nav {
  display: none;
  width: 100%;
  height: 1.08rem;
  background: #1e82d0; }
  #nav ul {
    padding-top: 0.26rem;
    display: flex;
    justify-content: space-around; }
    #nav ul li img {
      width: 0.5rem;
      height: 0.5rem; }
    #nav ul li:nth-child(3) img {
      width: 0.57rem;
      height: 0.54rem; }
    #nav ul li:last-child {
      margin-left: 0.6rem; }

section {
  padding: 0 0 1rem; }
  section #main {
    width: 100%;
    height: 4.1rem;
    background: #fff; }
    section #main ul {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap; }
      section #main ul li {
        margin: 0.26rem 0;
        width: 25%;
        text-align: center; }
        section #main ul li img {
          width: 0.44rem;
          height: 0.44rem; }
        section #main ul li p {
          text-align: center;
          margin-top: 0.12rem;
          font: 0.22rem "微软雅黑";
          color: #2f2f2f; }
  section #news {
    margin-top: 0.11rem;
    border-top: 0.01rem solid #dcdcdc;
    border-bottom: 0.01rem solid #dcdcdc;
    height: 3.72rem; }
    section #news .news-t {
      height: 3rem;
      background: #fff;
      padding: 0 0.24rem; }
      section #news .news-t .top {
        padding: 0.24rem 0 0.26rem; }
        section #news .news-t .top .massage {
          float: left; }
          section #news .news-t .top .massage img {
            float: left;
            width: 0.62rem;
            height: 0.62rem; }
          section #news .news-t .top .massage .data {
            margin-left: 0.15rem;
            float: left;
            font: 0.24rem "微软雅黑";
            color: #7f7f7f; }
        section #news .news-t .top .dian {
          float: right;
          font: 800 0.24rem "微软雅黑";
          color: #7f7f7f; }
      section #news .news-t .bottom img {
        width: 2rem;
        height: 1.6rem;
        margin: 0;
        float: left; }
      section #news .news-t .bottom .jiean {
        width: 3.63rem;
        float: right; }
        section #news .news-t .bottom .jiean p:nth-child(1) {
          font: 0.32rem/0.42rem "微软雅黑";
          color: #000; }
        section #news .news-t .bottom .jiean p:nth-child(2) {
          font: 0.26rem/0.40rem "微软雅黑";
          color: #a3a3a3; }
    section #news .news-b {
      height: 0.72rem;
      background: #f9f9f9;
      font: 0.24rem/0.72rem "微软雅黑";
      color: #898989;
      text-align: center; }
  section #activity {
    width: 100%; }
    section #activity img {
      width: 100%;
      height: 3rem;
      margin-top: 0.2rem; }
  section .out {
    width: 100%;
    height: 3.58rem;
    border-top: 1px solid #d2d2d2;
    margin: 0.2rem 0; }
    section .out .out-top {
      background: #fff;
      height: 2.83rem; }
      section .out .out-top .top {
        padding: 0.22rem 0.24rem; }
        section .out .out-top .top .massage01 {
          float: left; }
          section .out .out-top .top .massage01 img {
            float: left;
            width: 0.64rem;
            height: 0.64rem; }
          section .out .out-top .top .massage01 .data01 {
            margin-left: 0.15rem;
            float: left;
            font: 0.24rem/0.32rem "微软雅黑";
            color: #7f7f7f; }
        section .out .out-top .top .dian01 {
          float: right;
          font: 800 0.24rem "微软雅黑";
          color: #7f7f7f; }
      section .out .out-top p {
        padding-left: 0.98rem;
        font: 600 0.36rem/0.48rem "微软雅黑";
        color: #464646; }
      section .out .out-top .p02 {
        font: 0.28rem/0.44rem "微软雅黑"; }
      section .out .out-top .p03 {
        font: 0.28rem/0.44rem "微软雅黑";
        color: #999; }
    section .out .out-bottom {
      height: 0.75rem;
      background: #f9f9f9;
      font: 0.26rem/0.75rem "微软雅黑";
      color: #909090;
      text-align: center; }
  section .list {
    width: 100%;
    height: 3.58rem;
    border-top: 1px solid #d2d2d2; }
    section .list .list-top {
      background: #fff;
      height: 2.83rem; }
      section .list .list-top .top {
        padding: 0.22rem 0.24rem; }
        section .list .list-top .top .massage02 {
          float: left; }
          section .list .list-top .top .massage02 img {
            float: left;
            width: 0.64rem;
            height: 0.64rem; }
          section .list .list-top .top .massage02 .data02 {
            margin-left: 0.15rem;
            float: left;
            font: 0.24rem/0.32rem "微软雅黑";
            color: #7f7f7f; }
        section .list .list-top .top .dian02 {
          float: right;
          font: 800 0.24rem "微软雅黑";
          color: #7f7f7f; }
      section .list .list-top .zd {
        padding-left: 0.24rem;
        color: #000; }
        section .list .list-top .zd p {
          font: 600 0.34rem/0.96rem "微软雅黑"; }
        section .list .list-top .zd span {
          font: 0.24rem "微软雅黑"; }
        section .list .list-top .zd .zc {
          float: left; }
        section .list .list-top .zd .sr {
          margin-left: 1.9rem;
          float: left; }
    section .list .list-bottom {
      height: 0.75rem;
      background: #f9f9f9;
      font: 0.26rem/0.75rem "微软雅黑";
      color: #909090;
      text-align: center; }
  section .bot {
    height: 1.5rem;
    text-align: center;
    padding: 0 0.24rem; }
    section .bot .line {
      padding-top: 0.7rem; }
      section .bot .line div {
        height: 0.02rem;
        border: 0.02rem solid #eaeaea;
        background: #e1e1e1; }
    section .bot span {
      display: block;
      width: 2.38rem;
      background: #e6e6e6;
      margin-top: -0.24rem;
      font: 0.26rem "微软雅黑";
      color: #acacac; }

footer {
  width: 100%;
  height: 1rem;
  background: #fff;
  border-top: 1px solid #d2d2d2;
  position: fixed;
  left: 0;
  bottom: 0; }
  footer ul {
    padding-top: 0.18rem;
    display: flex;
    justify-content: space-between; }
    footer ul li a {
      display: block; }
      footer ul li a img {
        width: 0.43rem;
        height: 0.43rem; }
      footer ul li a p {
        font: 0.2rem/0.32rem "微软雅黑";
        color: #999 ；; }
    footer ul li:nth-child(1) a p {
      color: #14a5ff; }

/*# sourceMappingURL=index.css.map */
